@import "@/scss/index.scss";

.servicesItem {
  padding: 24px;
  border: 1px solid;
  border-radius: 10px;
  @include maxWidth(378px);

  .image {
    margin: 0 auto;
    padding: 16px;
    border-radius: 50%;
    width: 80%;
    height: auto;
    aspect-ratio: 289/266;
    max-width: 290px;
    @include flexCenter();
  }

  .title {
    @include title-24-semibold;
    color: $gray-25;
    text-align: center;
  }

  .explain {
    margin-top: 8px;
    @include body-16-regular;
    color: $gray-25;
    text-align: center;
  }
}
