@import "@/scss/index";

.aboutUsWrapper {
  @include flexCenter();
  padding: 0 120px 120px 120px;

  @include tablet {
    padding: 0 16px 120px 16px;
  }

  .aboutUsPage {
    @include maxWidth(1200px);

    .title {
      @include heading-64-bold;
      color: $gray-25;

      @include tablet {
        @include title-32-semibold;
      }
    }

    .members {
      margin-top: 24px;
      display: flex;
      flex-direction: column;
      gap: 64px;

      .item {
        display: flex;
        align-items: center;
        gap: 32px;

        @include tablet {
          flex-direction: column;
        }

        .info {
          .name {
            @include title-32-semibold;
            color: $gray-25;

            @include tablet {
              text-align: center;
            }
          }

          .sub {
            @include body-20-semibold;
            color: $gray-100;

            @include tablet {
              text-align: center;
            }
          }

          .description {
            margin-top: 16px;
            @include body-16-regular;
            color: $gray-25;
          }
        }
      }
    }
  }
}
