@import "@/scss/index";

.services {
  width: 100%;

  .title {
    @include title-32-semibold;
    color: $gray-25;
    text-align: center;
  }

  .container {
    margin-top: 48px;
    // display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(343px, 1fr));
    @include flexCenter();
    align-items: flex-start;
    gap: 24px;

    @include laptop {
      flex-wrap: wrap;
    }

    .kit {
      border-color: $secondary-pink;
    }

    .liveScore {
      border-color: $primary-600;
    }

    .liveStream {
      border-color: $secondary-blue;
    }
  }
}
