@import "@/scss/index";

.services {
  width: 100%;

  .title {
    @include title-32-semibold;
    color: $gray-25;
    text-align: center;
  }

  .container {
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(343px, 1fr));
    gap: 24px;

    @include tablet {
    }

    .kit {
      background-color: $secondary-pink;
    }

    .liveScore {
      background-color: $primary-600;
    }

    .liveStream {
      background-color: $secondary-blue;
    }
  }
}
