@import "@/scss/index.scss";

.headerWrapper {
  width: 100%;
  @include flexCenter();
  position: relative;

  :global {
    .alice-carousel__dots {
      z-index: 3;
      position: relative;
      margin-top: -40px;
    }
    .alice-carousel__next-btn,
    .alice-carousel__prev-btn {
      display: none;
    }
  }
}
