@import "@/scss/index.scss";

.form {
  @include maxWidth(377px);
  @include flexCenter(column);
  gap: 16px;

  button[type="submit"] {
    margin-top: 12px;
  }

  .success,
  .error {
    @include body-16-regular;
  }

  .success {
    color: $error;
  }

  .error {
    color: $green;
  }
}
