@import "@/scss/index.scss";

//jost
@font-face {
  font-family: "jost";
  src: url("./../assets/fonts/jost/Jost-Variable.ttf");
  font-style: normal;
}

//Montserrat
@font-face {
  font-family: "montserrat";
  src: url("./../assets/fonts/montserrat/Montserrat-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "montserrat";
  src: url("./../assets/fonts/montserrat/Montserrat-ExtraLight.ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "montserrat";
  src: url("./../assets/fonts/montserrat/Montserrat-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "montserrat";
  src: url("./../assets/fonts/montserrat/Montserrat-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "montserrat";
  src: url("./../assets/fonts/montserrat/Montserrat-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "montserrat";
  src: url("./../assets/fonts/montserrat/Montserrat-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "montserrat";
  src: url("./../assets/fonts/montserrat/Montserrat-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "montserrat";
  src: url("./../assets/fonts/montserrat/Montserrat-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "montserrat";
  src: url("./../assets/fonts/montserrat/Montserrat-Black.ttf");
  font-weight: 900;
  font-style: normal;
}

//finlikless

@font-face {
  font-family: "finlikless";
  src: url("./../assets/fonts/finlikless/Finlikless-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  min-height: 100dvh;
  overflow-x: hidden;
  position: relative;
  z-index: 1;
  color: $gray-25;
  font-family: "jost";
  background-color: $gray-900;
  max-width: 1920px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}
