@import "@/scss/index.scss";

.button {
  padding: 0 24px;
  outline: none;
  @include body-16-medium;
  color: $gray-25;
  gap: 8px;
  background-color: $primary-600;
  height: 40px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s;
  @include flexCenter();

  &:hover {
    opacity: 0.8;
  }
}
