@import "@/scss/index.scss";

.home {
  width: 100%;
  @include flexCenter(column);
  justify-content: flex-start;
  gap: 120px;
  position: relative;

  .navbar {
    position: absolute;
    top: 0;
    left: 0;
  }

  @include tablet {
    gap: 80px;
  }

  .mainWrapper {
    width: 100%;
    padding: 0 120px;
    @include flexCenter();

    @include tablet {
      padding: 0 16px;
    }

    .main {
      @include maxWidth(1200px);
      @include flexCenter(column);
      justify-content: flex-start;
      gap: 120px;

      @include tablet {
        gap: 80px;
      }
    }
  }
}
