@import "@/scss/index.scss";

.footerWrapper {
  width: 100%;
  @include flexCenter();
  padding: 32px 120px;
  background-color: $gray-800;
  margin-top: auto;

  @include tablet {
    padding: 32px 16px;
  }

  .footer {
    @include maxWidth(1200px);
    @include flexCenter(column);
    justify-content: flex-start;
    align-items: flex-start;

    .body {
      width: 100%;
      @include flexCenter();
      justify-content: space-between;
      align-items: flex-end;
      gap: 16px;
      flex-wrap: wrap;

      .leftItem {
        @include flexCenter(column);
        align-items: flex-start;
        gap: 16px;

        .title {
          @include title-24-semibold;

          a {
            color: $gray-25;
          }
        }

        .socialMedia {
          @include flexCenter();

          ul {
            @include flexCenter();
            gap: 24px;
          }
        }
      }
    }

    .list {
      @include flexCenter();

      ul {
        width: 100%;
        @include flexCenter();
        gap: 32px;
        flex-wrap: wrap;
        margin-left: auto;

        li {
          @include body-16-regular;
          color: $gray-25;

          a {
            color: $gray-25;
          }

          p {
            opacity: 0.5;
          }
        }
      }
    }

    .footerBottom {
      width: 100%;
      margin-top: 32px;
      padding-top: 32px;
      border-top: 1px solid $gray-500;

      .text {
        @include footnote-12-regular;
        @include flexCenter();
        justify-content: flex-start;
        gap: 8px;

        span {
          font-size: 20px;
        }
      }
    }
  }
}
