@import "@/scss/index";

.proLeagueInfo {
  .title {
    @include title-32-semibold;
    color: $gray-25;
    text-align: center;
  }

  .explain {
    margin-top: 16px;
    @include body-20-regular;
    color: $gray-25;
    text-align: center;
  }
}
