$white: #ffffff;
$black: #000000;
$gray-900: #0b001f;
$gray: #1c0032;
$gray-25: #f0f0f0;
$gray-50: #e3e1e5;
$gray-100: #cdcad0;
$gray-200: #a79db0;
$gray-300: #7c7287;
$gray-400: #5f516d;
$gray-500: #3e3547;
$gray-600: #2d1d3c;
$gray-800: #1d0c30;
$secondary-pink: #da52dd;
$secondary-blue: #3f8cff;
$primary-600: #916eff;
$primary-700: #734bf0;
$secondary-purple: #a990fc;
$secondary-300: #ffaa05;

//errors
$error: #ff6e6e;

$green: #8ccc4c;
