$white: #ffffff;
$black: #000000;
$gray-900: #0B001F;
$gray: #1C0032;
$gray-25: #F0F0F0;
$gray-50: #E3E1E5;
$gray-100: #CDCAD0;
$gray-200: #A79DB0;
$gray-300: #7C7287;
$gray-400: #5F516D;
$gray-500: #3E3547;
$gray-800: #1D0C30;
$secondary-pink: #DA52DD;
$secondary-blue: #3F8CFF;
$primary-600: #916EFF;
$secondary-300: #FFAA05;

//errors
$error: #FF6E6E;