//heading
@mixin heading-80-bold {
  font-weight: 700;
  font-size: 80px;
  line-height: 115.6px;
}

@mixin heading-64-bold {
  font-weight: 700;
  font-size: 64px;
  line-height: 92.48px;
}

@mixin heading-48-semibold {
  font-weight: 600;
  font-size: 48px;
  line-height: 69.36px;
}

//title
@mixin title-32-semibold {
  font-weight: 600;
  font-size: 32px;
  line-height: 46.24px;
}

@mixin title-24-semibold {
  font-weight: 600;
  font-size: 24px;
  line-height: 34.68px;
}

//body
@mixin body-20-semibold {
  font-weight: 600;
  font-size: 20px;
  line-height: 28.9px;
}

@mixin body-16-medium {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
}

@mixin body-18-medium {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}

@mixin body-18-regular {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}

@mixin body-20-regular {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
}

@mixin body-16-regular {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

@mixin body-16-bold {
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
}

@mixin body-14-regular {
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
}

//footnote
@mixin footnote-12-regular {
  font-weight: 400;
  font-size: 12px;
  line-height: 17.34px;
}

@mixin footnote-14-regular {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
